* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Windows';
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #800080;
  height: 100vh;
}

@media(max-width:767px) {
  body {
    align-items: flex-start;
  }
}