@font-face {
    font-family: 'Windows';
    src: url('./fonts/Windows.eot');
    src: url('./fonts/Windows.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Windows.woff2') format('woff2'),
        url('./fonts/Windows.woff') format('woff'),
        url('./fonts/Windows.ttf') format('truetype'),
        url('./fonts/Windows.svg#Windows') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

